 body{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin:0;
        }
        .container{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 350px;
            height: 600px;
            padding:20px;
            border: 2px solid black;
            box-sizing: border-box;
            color:#b2b1b1;
        }
        .ret{
            width: 100%;
            height: 25px;
            background-color: #e5e5e5;
            border-radius: 4px;
            color:#e5e5e5;
        }
        .circ{
            width: 70px;
            height: 70px;
            background-color: #e5e5e5;
            border-radius: 50%;
            color:#e5e5e5;
        }
        .retM{
            width: 120px;
            height: 25px;
            background-color: #e5e5e5;
            color:#e5e5e5;
            border-radius: 4px;
        }